NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_idjcmav
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_6z9b765
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=uTCo1Jw20TlsHaS3e
